.base-btn {
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.primary {
  background-color: variables.$primary;
}

.secondary {
  // @TODO : 기획 확정되면 스타일 추가
}

.disabled {
  // @TODO : 기획 확정되면 스타일 추가
}

.warning {
  // @TODO : 기획 확정되면 스타일 추가
}

.large {
  // @TODO : 기획 확정되면 스타일 추가
  padding: 18px;
  border-radius: 8px;
}

.medium {
  font-size: variables.$font-medium;
  padding: 18px;
  border-radius: 8px;
}

.small {
  // @TODO : 기획 확정되면 스타일 추가
}
