.chip {
  display: flex;
  gap: 10px;
  align-items: center;

  padding: 11px 18px;

  background-color: variables.$white;
  border-radius: 100px;
  border: 1px solid variables.$gray-1400;

  .main-label {
    display: inline-block;
    font-size: variables.$font-medium;
    font-weight: 400;
  }

  .sub-label {
    display: inline-block;
    padding: 4px 10px;

    background-color: variables.$blue-200;
    font-size: variables.$font-x-small;
    font-weight: bold;
    color: variables.$white;
    border-radius: 3px;
  }

  &.selected {
    background-color: variables.$primary;
    border: 1px solid variables.$primary;

    .main-label {
      font-weight: bold;
    }
  }
}
