.header-container {
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: 13px 15px;
  font-size: variables.$font-medium;
  font-weight: bold;

  &.primary {
    background-color: variables.$black;
    color: variables.$primary;
  }
}
