/** Palette */
$primary: #d5aa77;

$black: #000;
$white: #fff;

$gray-300: #3c3c43;
$gray-1200: #c1c1c1;
$gray-1300: #d9d9d9;

$blue-200: #223866;

/** Font */
$font-xx-small: 10px;
$font-x-small: 12px;
$font-small: 14px;
$font-medium: 16px;
$font-large: 18px;
$font-x-large: 20px;
$font-xx-large: 22px;
